<!-- 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc enim, congue at sem condimentum, scelerisque malesuada odio. Aliquam et feugiat dolor. Duis scelerisque mauris auctor finibus laoreet. Morbi finibus orci purus, quis tempus nunc luctus molestie. Cras fermentum arcu sed consectetur dictum. Sed vitae ipsum orci. Nunc lobortis mauris eu molestie luctus. Nam libero tellus, bibendum at lobortis sed, tristique ut nisl. Integer imperdiet laoreet bibendum. Etiam eu ligula in magna porta efficitur in ac mauris. Mauris tristique semper semper. Pellentesque rutrum in ex vitae convallis. Maecenas laoreet faucibus tempor.

Sed sit amet ante et quam fringilla scelerisque ac eget lorem. Nam ultrices, eros ac condimentum consequat, sem arcu tempus nisl, eu gravida risus mauris at libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras aliquet nibh nec sapien ullamcorper efficitur. Proin faucibus et nibh in auctor. In pulvinar suscipit arcu, eu euismod leo blandit at. Vivamus nec dapibus lectus, et volutpat felis.

Morbi ut vestibulum velit. Vestibulum quis orci ac justo posuere lacinia laoreet a nisl. Donec tristique velit in vulputate aliquam. Etiam sed sapien elit. Nullam eget nunc quis ipsum porttitor mattis vitae et enim. In ornare nisl arcu, vel suscipit magna gravida ut. Fusce et malesuada libero. Ut lacus lacus, dictum a massa lobortis, viverra volutpat tellus. Aliquam erat volutpat. Phasellus malesuada neque non orci consectetur, a pharetra augue dictum. Aliquam fermentum risus at posuere elementum. Sed scelerisque efficitur lacus, et tempor arcu tincidunt sed. Donec efficitur odio nibh.

Curabitur vel vehicula risus. Sed a neque in eros vestibulum scelerisque. Cras cursus, felis non ultrices cursus, magna enim interdum ante, eget porttitor felis urna sed est. Suspendisse eget lacinia nibh, et convallis nibh. Vivamus aliquam ipsum non pellentesque malesuada. Sed sit amet cursus nisi. Praesent luctus in sapien at sollicitudin. Aliquam vel tempus erat. Morbi in purus lectus. Vestibulum aliquet velit sed orci efficitur, vitae luctus turpis semper. Sed ultricies nulla ex. Phasellus interdum libero eget dapibus mollis. Fusce tempor venenatis convallis. Nunc molestie euismod suscipit. Pellentesque sed arcu semper, sodales tellus vitae, fringilla elit. Nulla at lacus vitae dolor aliquam eleifend.

Suspendisse hendrerit felis sit amet velit sodales, vel pellentesque dui venenatis. Cras id felis tristique ante ullamcorper venenatis. Nulla posuere accumsan neque, et scelerisque risus sollicitudin vitae. Cras tempus mi eu pharetra aliquam. Donec sit amet sapien scelerisque, semper leo ut, fermentum metus. Ut ac dolor eget velit dignissim volutpat sit amet vitae sapien. Maecenas eget dictum nibh. Integer placerat nibh non aliquet varius. Nulla pulvinar nibh in.
-->

<h1>Ajuda do Contatooh</h1>

<p>Clique sobre o botão "Novo" para inserir um novo contato.</p>

<p>Utilize o campo "Parte do nome" para filtrar os contatos, a seu critério.</p>

<p>Clique sobre o nome do contato para exibir uma visualização dos detalhes do contato e poder alterá-los.</p>

<p>Na página de detalhes, clique sobre o botão "Voltar" para retornar à página de listagem de contatos.</p>

<p>Clique sobre o botão laranja "Remover" para excluir o contato. ATENÇÃO: ESSA OPERAÇÃO NÃO PODE SER DESFEITA.</p>